<div class="containerdash">
		<div class="navigation">
			<ul>
				<li>
					<a >
						
						<span class="title"><h2>CLINICA BILBAO </h2></span>
					</a>
				</li>
				
			 

				<li>
					<a href="/aplicacion/Usuario">
						<span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
						<span class="title">Usuario</span>
					</a>
				</li>
				<li>
					<a href="/aplicacion/paciente">
						<span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
						<span class="title">Paciente </span>
					</a>
				</li>
					<li>
					<a href="/aplicacion/categorias">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">categorias</span>
					</a>
				</li>
			
			
				<li>
					<a href="/aplicacion/Personal">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Personal</span>
					</a>
				</li>

								<li>
					<a href="/aplicacion/Analisis">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Analisis</span>
					</a>
				</li>
								<li>
					<a href="/aplicacion/Consultas">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Consultas</span>
					</a>
				</li>
								<li>
					<a href="/aplicacion/Resultados">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">resultados</span>
					</a>
				</li>
								</li>
								<li>
					<a href="/aplicacion/DetalleVentas">
						<span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
						<span class="title">Detalle Ventas</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu()"></div>
				
			</div>
		

			<div class="details">
				<div class="recentOrders">
					  <div class="cardHeader">
						<h2>ADICIONAR </h2>

						
					</div>
	
                        				    <form action="/aplicacion/pacienteAdi" method="POST">
	    				  <input type="number" name="CI" placeholder="CI">
				          <input type="text" name="FechaNacimiento" placeholder="FechaDeNacimiento">
						  <input type="text" name="Nombres" placeholder=" Nombres ">
                          <input type="text" name="Apellidos" placeholder=" Apellidos ">
                          <input type="text" name="Direccion" placeholder=" Direccion ">
                           <input type="number" name="Telefono" placeholder=" Telefono ">
						  <input type="submit" value="adicionar paciente ">
						</form>


				 




                          
					


				</div>

			</div>
		</div>
	</div>
	
	<script type="text/javascript">
		function toggleMenu(){
			let navigation = document.querySelector('.navigation');
			let toggle = document.querySelector('.toggle');
			let main = document.querySelector('.main');
			navigation.classList.toggle('active');
			toggle.classList.toggle('active');
			main.classList.toggle('active');
		}
	</script>