<div id="banner">
        <div id="imagen">
		  <h1>CLINICA BILBAO</h1>
        </div>
    </div> 
  
         <div class="containerca">
            <div class="card">
                    <div class="imgBx">
                        <img src="/img/inicioSeCli.jpg">
                        <h2>Iniciar Sesión para clientes </h2>
                    </div>
                    <div class="content">
                       <a href="/authentication/login">login clientes</a><br>
                       <a href="/authentication/login#signup">no tiene cuenta?, registrate ya!</a>     
                    </div>
            </div>
          
         
                <div class="card">
                        <div class="imgBx">
                            <img src="/img/inicioSePer.jpg">
                            <h2> Iniciar Sesión como trabajador </h2>
                        </div>
                        <div class="content">
                       
                        <a href="/authentication/loginPersonal">iniciar session</a>    
                        </div> 
                </div>
            
   
        </div> 
      
